body {
  text-align: center;
}

h3 {
  font-size: 4em;
  font-family: 'arial', serif;
  font-family: 'Kaushan Script', cursive;
  background-color: #ff1e1e;
  //margin-left:%;
  //margin-right:%;
}



nav a {
  font-family: 'Kaushan Script', cursive;
}



h3, h4 {
  color: 255, 30, 30;
}
h2, {
  color: 38, 70, 255;
}

img {
  padding: 20px 20px 20px 20px;
  border: 1px red;
}

ol li{
  list-style-type: none;

body {background-color: coral;}





}
