body {
  text-align: center;
  background-color: #fce77d;
}

h3 {
  font-size: 4em;
  font-family: 'arial', serif;
  font-family: 'Kaushan Script', cursive;
  background-color: #f96167;
  //margin-left:%;
  //margin-right:%;
}

h2 {
  font-color: #f96167


}

nav a {
  font-family: 'Kaushan Script', cursive;
}



h3,  {
  color: 255, 30, 30;
}
h2, {
  color: 38, 70, 255;
}

img {
  padding: 20px 20px 20px 20px;
  border: 1px red;
}

ol li{
  list-style-type: none;
}

#pics{
  background-image: url("Headshot.JPG");
  height: 580px;
  width: 920px;

}
